<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
		<!-- Will contain the pcloud auth string, but is only set programmatically -->
		<setting label="CLOUD URL" type="labelenum" id="CloudUrl" values="https://api.pcloud.com/|https://eapi.pcloud.com/" default="https://api.pcloud.com/"/>
		<setting type="sep"/>
		<setting label="API USERNAME" type="text" id="username1" default=""/>
        <setting label="API PASSWORD" type="text" id="password1" default=""/>
		<setting type="sep"/>
		<setting label="EAPI USERNAME" type="text" id="username2" default=""/>
        <setting label="EAPI PASSWORD" type="text" id="password2" default=""/>

		<setting label="EAPI EXPIRY" type="text" id="authExpiry" visible="false" default=""/>
		<setting label="LAST USER FOLDER ID" type="text" id="lastUsedFolderID" visible="false" default="0"/>
	</category>
    <!-- category label="30106">
        <setting label="30107" type="action" action="RunScript(plugin.video.pcloud-video-streaming, downloadreport)"/>
    </category -->
</settings>
